/*--------------------------*/
/* MOBILE FIRST */
/*--------------------------*/

.headerSection {
    background-image: url("../assets/images/background/dog-and-cat-together-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 80%;
    width: 100%;
    height: 16rem;
}

.headerDescriptionTablet {
    display: none;
}

.headerDescription p {
    position: relative;
    top: 7rem;
    left: 1rem;
    font-weight: 200;
    background-color: rgba(10, 10, 10, 0.5);

    color: white;
    text-align: center;
    width: 16rem;
    height: 6rem;
    padding: 1.5rem;
}
.titleContainer h2{
    text-align: center;
    font-size: 1.6rem;
    margin-inline: 0.3rem;
    font-weight: 500;
}

.titleContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    margin-top: 0.5rem;
    width: 12rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: var(--primary-color);
}
.carouselSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselTabletVersion {
    display: none;
}

/*Section CTA */

.ctaSectionTablet {
    display: none;
}

.ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-color: #EDEDED;
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
}

.ctaSection img {
    margin-top: 0.5rem;
    width: 90%;
    border-radius: 0.5rem;
}

.ctaSection h3 {
    margin-block: 1rem;
    font-size: 1.4rem;
}

.ctaSection p {
    margin-bottom: 1rem;
    color: black;
    font-weight: 300;
    letter-spacing: -0.2px;
}

.ctaInformation {
    padding-left: 2.9rem;
    padding-right: 2rem;
}

/*--------------------------*/
/* TABLET VERSION */
/*--------------------------*/

@media (min-width: 750px) {
    .headerSection {
        background-image: url("../assets/images/background/dog-and-cat-together.png");
        background-size: cover;
        background-position: 50% 70%; /* Centrer horizontalement et verticalement */
        height: 25rem; /* Hauteur fixe du conteneur */
        width: 100%; /* Largeur fixe */
    }

    .headerDescription {
        display: none;
    }

    .headerDescriptionTablet {
        display: flex;
    }

    .headerDescriptionTablet p {
        color: white;
        position: relative;
        font-weight: 200;
        background-color: rgba(10, 10, 10, 0.5);
        font-size: 1.6rem;
        width: 29rem;
        height: 7rem;
        padding-top: 1rem;
        text-align: center;
        left: 40%;
        top: 15rem;


}
    .titleContainer h2 {
        font-size: 2.5rem;
    }

    .separator {
        width: 20rem;
    }

    .carouselMobileVersion {
        display: none;

    }

    .carouselTabletVersion {
        display: flex;
        flex-direction: row;
        gap: 1rem
    }

    /*cta section */

    /*.ctaSection {*/
    /*    display: none;*/
    /*}*/

    /*.ctaSectionTablet {*/
    /*    display: inline-block;*/
    /*    background-color: #EDEDED;*/
    /*    margin-top: 5rem;*/
    /*    margin-bottom: 7rem;*/
    /*}*/

    /*.ctaContainer {*/
    /*    color: black;*/

    /*}*/

    /*.ctaContainer img {*/
    /*      width: 100rem;*/
    /*      padding-top: 1.1rem;*/
    /*      padding-left: 10rem;*/

    /*  }*/

    /*.ctaContainer h3 {*/
    /*   padding-left: 5.4rem;*/
    /*    font-size: 1.7rem;*/
    /*    margin-block: 1rem;*/
    /*    padding-top: 0.8rem;*/
    /*}*/

    /*.rightSection {*/
    /*    padding-right: 30rem;*/

    /*}*/

    /*.ctaContainer p {*/
    /*    color: black;*/
    /*    font-size: 1.2rem;*/
    /*    margin-bottom: 2rem;*/
    /*    padding-inline: 2.5rem;*/
    /*    padding-right: 8rem;*/
    /*    font-weight: 300;*/
    /*    letter-spacing: -0.2px;*/
    /*}*/



}
/*--------------------------*/
/* DESKTOP VERSION */
/*--------------------------*/
@media (min-width: 1000px) {

    .headerDescriptionTablet p {
        left: 55%;
        top: 10rem;
    }

    .carouselTabletVersion {
        gap: 8rem
    }

    .ctaContainer {
        display: flex;
        flex-direction: row;
    }

    /*--------------------------*/
    /* DESKTOP HD VERSION */
    /*--------------------------*/

    @media screen and (min-width: 1200px) {
        .headerDescriptionTablet p {
            top: 10rem;
            left: 76%;
        }
    }


}