.headerSection {
    background-image: url("../../assets/images/background/paw-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 80%;
    width: 100%;
    height: 16rem;
    padding-top: 20%;
}

.headerDescription p {
    background-color: rgba(164, 194, 244, 0.5);
    font-size: 2.1rem;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-inline: 0.5rem;
    padding-block: 2rem;

}

.headerDescription {
     position: relative;
 }

/*--------------------------*/
/* PORTABLE DESKTOP STANDARD VERSION */
/*--------------------------*/
@media (min-width: 1000px) {

    .headerDescription {
        bottom: 18rem;
        margin-inline: 40rem;
    }

    .headerDescription p {
        font-size: 2.8rem;
    }

}